<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>MyEcomStore</title>

    <!-- Icons -->
    <link rel="shortcut icon" href="~/assets/media/favicons/favicon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/assets/media/favicons/favicon-192x192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/media/favicons/apple-touch-icon-180x180.png">
    <!-- END Icons -->
    <!-- Stylesheets -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
    <link href="~/assets/css/oneui.min.css" rel="stylesheet" />

    <!-- END Stylesheets -->
</head>
<body>
    <footer class="d-flex justify-content-end position-fixed bottom-0 end-0 m-3 bg-dark">
        <select class="btn btn-lg btn-alt-primary rounded-2" aria-label="Default select example" id="lang">
            <option value="1">En</option>
            <option value="2">Fr</option>
        </select>
    </footer>
    <script>
        var select = document.querySelector("#lang");

        select.onchange = function () {
            if (select.value == 2) {
                document.getElementById("signin").innerHTML = "Authentifier";
                document.getElementById("title").innerHTML = "Bienvenue dans votre incroyable application. N'hésitez pas à vous connecter et à commencer à vendre vos produits.";
                document.getElementById("title1").innerHTML = "Authentifier";
                document.getElementById("title2").innerHTML = "Bienvenue, veuillez vous connecter ou <a href='/Users/Create'>créer</a> un nouveau compte.";

                document.getElementById("login-password").placeholder = "mot de passe";



            } else {
                document.getElementById("title").innerHTML = "Welcome to your amazing app. Feel free to login and start selling your products.";
                document.getElementById("title1").innerHTML = "Sign In";
                document.getElementById("title2").innerHTML = 'Welcome, please login or <a href="/Users/Create">sign up</a> for a new account.';

                document.getElementById("signin").innerHTML = "Sign In";
                document.getElementById("login-password").placeholder = "password";




            }
            console.log(select.value);
        }


    </script>
    @RenderBody()
    <script src="~/assets/js/oneui.app.min.js"></script>
    <!-- jQuery (required for jQuery Validation plugin) -->
    <script src="~/assets/js/lib/jquery.min.js"></script>
    <!-- Page JS Plugins -->
    <script src="~/assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>
    <!-- Page JS Code -->
    <script src="~/assets/js/pages/op_auth_signup.min.js"></script>
    <script src="~/assets/js/pages/op_auth_signin.min.js"></script>
</body>
</html>